@import 'libs/bootstrap-reboot.min';


@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo.scss';
@import 'blocks/looking';
@import 'blocks/about.scss';
@import 'blocks/menu.scss';
@import 'blocks/testimonials.scss';
@import 'blocks/news.scss';
@import 'blocks/location.scss';
@import 'blocks/subscribe.scss';
@import 'blocks/footer.scss';
@import 'blocks/burger';


* {
    font-family: 'Inter', serif;
    padding: 0;
    box-sizing:border-box
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

a :hover {
    color: red;
}

@import 'blocks/media.scss';
