@import 'libs/bootstrap-reboot.min';


@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo.scss';

* {
    font-family: 'Inter', serif;
    padding: 0;
    box-sizing:border-box
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}



