.location {
  min-height: 815px;
  background: url("/src/img/bg/bg_5.jpg") no-repeat center/cover;
  color: white;
}
.location__head {
  padding-top: 96px;
  text-align: center;
}
.location__head h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.location__head p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.location__cards {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}
.location__card {
  text-align: center;
}
.location__card h4 {
  margin: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
}