.looking {
  height: 432px;
  padding: 96px 0;
  background: url("/src/img/bg/bg_3.jpg") no-repeat center/cover;
}
.looking__wrapper {
  height: 145px;
  width: 525px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}
.looking__wrapper h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.looking__wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.line {
  margin: 24px auto;
  width: 189px;
  height: 0px;
  border: 1px solid #FFFFFF;
}
.line_black {
  border: 1px solid #444444;
}