.news {
  min-height: 915px;
  padding: 96px 0;
  background: #EEEEEE;
}
.news__head {
  text-align: center;
}
.news__head h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.news__head p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.news__cards {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
}
.news__card {
  width: 352px;
  height: 504px;
}
.news__card h4 {
  margin-top: 24px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.news__card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.news__card span a {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #000000;
}