.testimonials {
  padding: 96px;
  background: url("/src/img/bg/bg_4.jpg") no-repeat center/cover;
  height: 505px;
}
.testimonials__wrapper {
  width: 735px;
  margin: 0 auto;
  color: #eeeeee;
  text-align: center;
}
.testimonials__wrapper h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.testimonials__wrapper p {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.testimonials__text {
  margin-top: 48px;
}